@function img($file) {
    @return url('../../assets/img/' + $file);
}

@mixin flexAlign($jcontent, $alcontent) {
    display        : flex;
    justify-content: $jcontent;
    align-items    : $alcontent;
}

@mixin flexFlow($direction) {
    flex-flow: $direction wrap;
}