#container {
    grid-area : products;

    form {
        @include flexAlign(center, center);

        .search-bar {
            width        : 50vw;
            height       : 2.5rem;
            line-height  : 2.5rem;
            margin       : .5rem;
            background   : $searchBar;
            padding      : 0 1.25rem;
            border-radius: $borderRadius;
            border       : none;
            text-align   : center;
            font-size    : 1rem;
        }
    }

    .grid {
        position  : relative;
        width     : 100%;
        opacity   : 0;
        transition: all .5s linear 1s;

        &.img-charged {
            opacity: 1;
        }

        .item {
            position: absolute;
            display : block;

            .item-content {
                position: relative;
            }

            img {
                width         : 100%;
                cursor        : pointer;
                vertical-align: top;
                border-radius : $borderRadius;
            }
        }
    }
}

@media (min-width: 320px) {
    #container {
        width     : 100%;
        margin-top: .5rem;

        form {
            .search-bar {width: 80vw;}
        }

        .grid {
            .item {width: calc(43% - 2em);}
        }
    }
}

@media (min-width: 768px) {
    #container {
        form {

            .search-bar {width: 60vw;}
        }

        .grid {
            .item {width: calc(45% - 1.5em);}
        }
    }
}

@media (min-width: 992px) {
    #container {
        margin-top: 6.25em;

        form {
            .search-bar {width: 67vw;}
        }

        .grid {
            .item {width: calc(30% - 1.5rem);}
        }
    }
}