.header {
    @include flexAlign(space-between, center);
    @include flexFlow(row);
    padding      : .75em 3.5em;
    position     : fixed;
    width        : 100vw;
    box-sizing   : border-box;
    border-bottom: 1px solid $searchBar;
    background   : $white1;
    z-index      : 10;
    top          : 0;

    .menu {
        @include flexAlign(center, center);
        @include flexFlow(row);

        a {
            padding   : .7em;
            color     : $textHeader;
            transition: all .3s;

            &:hover {
                color: $blue;
            }
        }
    }
}